<html lang="ja" >
    <head>
       <meta charset="utf-8">
       <title>ログイン画面</title> 
    </head>
    <body>
        <h1>ログイン</h1>
        <form action="/account/login" method="POST">
            {%csrf_token%}
            {%if next %}
                <input type="hidden" name="next"value="{{next}}">
            {% endif %}
            <input type="text" name="user_id" placeholder="ユーザーID">
            <input type="password" name="password" placeholder="パスワード">
            <button type="submit" name="login">ログイン</button>
        </form>
    </body>
</html>